* {
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
    background: #040828;
}

body::before {
    content: '';
    position: fixed;
    width: 500px;
    height: 400px;
    background: linear-gradient(199.29deg, #8A2BE2 12.36%, #D32F2F 94.21%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-89.71deg);
    z-index: -99;
    filter: blur(100px);
    animation: fade 5s infinite;
}


header {
    margin: 0;
    padding: 1%;
    /* padding-inline: 150px 150px; */
    padding-inline: 10% 10%;
    position: sticky;
    top: -1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    color: #F0F0F5;
    background: #040828;
    box-shadow: inset 77.5px -77.5px 77.5px rgba(165, 165, 165, 0.1), inset -77.5px 77.5px 77.5px rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 1.5em;
    width: 120px;
    height: 120px;
    color: #ffffff;
    /* background-color: #ffffff; */
    border-radius: 10px;
}

.logo img{
    width: 100%;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    /* margin: 0 10px; */
    margin-inline: 30px;
}

nav ul li a {
    color: #F0F0F5;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Hide menu toggle button on desktop */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: #F0F0F5;
    cursor: pointer;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
}

.menu-toggle:active {
    animation: rotate .5s;
}



li span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@keyframes fade {
    0% {
        opacity: .8;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: .8;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(90deg);
        opacity: 0;
    }
    100% {
        transform: rotate(180deg);
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    header {
        padding-inline: 1%;
    }

    nav ul li{
        margin-inline: 15px;
    }
}

/* Mobile Styles */
@media (max-width: 700px) {

    body::after {
        content: ""; /* Empty content to create a visual element */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("@/assets/images/africa.png");
        background-size: 115% auto; /* Ensure the image covers the area */
        background-position: center; /* Center the image */
        background-repeat: no-repeat;
        opacity: 0.4; /* Adjust the opacity of the background image */
        z-index: -1;
    }

    header {
        padding-inline: 20px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:
            linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2px, transparent 1px),
            linear-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 1px);
        background-size: 100px 100px, 100px 100px, auto;
        background-position: center;
        z-index: -1;
        -webkit-mask-image: 
            linear-gradient(to bottom, transparent, black 20%, black 80%, transparent), /* Vertical transparency */
            linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* Horizontal transparency */
        mask-image: 
            linear-gradient(to bottom, transparent, black 20%, black 80%, transparent), /* Vertical transparency */
            linear-gradient(to right, transparent, black 20%, black 80%, transparent); /* Horizontal transparency */
        -webkit-mask-composite: intersect;
        mask-composite: intersect;
    }

    .menu-toggle {
        display: block;
        z-index: 1999;
        position: relative;
    }
    .close {
        font-size: 1em;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 99.9%;
        overflow-y: auto;
        transition: right 0.3s ease;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        background: #08092C;
        box-shadow: inset 77.5px -77.5px 77.5px rgba(165, 165, 165, 0.1), inset -77.5px 77.5px 77.5px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(77.5px);
    }

    nav.open {
        right: 0; /* Slide into view */
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
    }

    nav ul li {
        margin: 20px 0;
    }

}

@media (min-width: 701px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html, body, #app {
        height: 100%;
        overflow: hidden;
    }

    body::before {
        width: 600px;
        height: 700px;
    }
      
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    header {
        background: none;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding: 1rem; */
        flex-shrink: 0;
    }
}