main {
    text-align: center;
    color: #f0f0f5;
    background: #f0f0f51f;
    height: 80vh;
    /* background-image: "@"; */
}

h3 {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    text-wrap: wrap;
    overflow: hidden;
    border-right: 2px solid black; /* Cursor */
    animation: blink 0.7s steps(2, start) infinite;
  }
  
@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #D32F2F;
    }
    100% {
        border-color: transparent;
    }
  }